<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence version="2.0"
    xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd http://java.sun.com/xml/ns/persistence/orm http://java.sun.com/xml/ns/persistence/orm_2_0.xsd">

  <!-- hyperjaxb3 roundtrip test configuration template -->
  <persistence-unit name="##generated" transaction-type="RESOURCE_LOCAL">
  </persistence-unit>

</persistence>
